h1, h2 {
    text-align: center;
}

h2 {
    margin-left: 32px;
}

.issue-board {
    margin: 64px;
    display: flex;
}

.issue-board__column {
    width: 33%;
}

.issue-board__list {
    list-style-type: none;
}